In [1]:
!pip3 install dask
import dask.dataframe as dd

Requirement already satisfied: dask in c:\users\hp\anaconda31\lib\site-packages (2.30.0)
Requirement already satisfied: pyyaml in c:\users\hp\anaconda31\lib\site-packages (from dask) (5.3.1)

In [2]:
cd desktop

C:\Users\hp\desktop

In [3]:
cd New folder (4)

C:\Users\hp\desktop\New folder (4)

In [4]:
train_v1 = dd.read_csv('train.csv')
print(train_v1.columns)

Index(['msno', 'is_churn'], dtype='object')

In [5]:
train_v1.head()

                                           msno  is_churn
0  waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=         1
1  QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=         1
2  fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=         1
3  mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=         1
4  XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=         1

In [6]:
train_v1.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 2 entries, msno to is_churn
dtypes: object(1), int64(1)

In [7]:
print(len(train_v1))

992931

In [8]:
import time
begin=time.time()
transaction_v1 = dd.read_csv('transactions.csv')

end=time.time()
print(f"total runtime{end-begin}")

total runtime0.07676196098327637

In [10]:
transaction_v1.head()

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41,30,129,129,1,20150930,20151101,0
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41,30,149,149,1,20150930,20151031,0
2,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41,30,129,129,1,20150930,20160427,0
3,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39,30,149,149,1,20150930,20151128,0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39,30,149,149,1,20150930,20151121,0

In [11]:
transaction_v1.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 9 entries, msno to is_cancel
dtypes: object(1), int64(8)

In [12]:
!pip3 install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\hp\anaconda31\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in c:\users\hp\anaconda31\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda31\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\hp\anaconda31\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda31\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [13]:
import time
begin=time.time()
transaction_v1 = pd.read_csv('transactions.csv')

end=time.time()
print(f"total runtime{end-begin}")

total runtime66.06748723983765